@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700');
@import 'css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,

p {
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}

.section-heading > h2 {
    font-weight: 300;
    color: #07049c;
    font-size: 48px;
    margin: 0;
}

.welcome-area {
    background-image: url(images/space.jpg);
    height: 500px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
}

.wellcome-heading > h2 {
    font-size: 80px;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.welcome-heading > p {
    color: #fff;
}

.welcome-heading {
    margin-bottom: 100px;
}